:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background-image: url('../assets/veggiesveggies.jpg');
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    
    background-color: rgb(210, 215, 159);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.page-header .title {
    justify-self: center;
    font-size: 1.2em;
    font-weight: 800;
    font-family: 'DynaPuff', cursive;
    color: rgb(72, 56, 56);
}

form {
    text-align: center;
    margin: 20px;
    font-family: 'DynaPuff', cursive;
    color: black;
    
}

form button {
    padding: 6px;
    background-color: rgb(210, 215, 159);
    border: 2px solid rgb(72, 56, 56);
    border-radius: 5px;
    color: black;
    font-family: 'DynaPuff', cursive;
    box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.75);;


}

.page-header nav {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

main {
    background-color:rgb(128, 154, 111) ;
    margin-left: 150px;
    margin-right: 150px;
    
}

.list {
    display: grid;
    grid-template-rows: auto;
}


.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 98, 168);
    margin: 5px;
    border: solid 3px rgb(66, 133, 91);
    color: black;
    font-family: 'DynaPuff', cursive;
    font-weight: bold;
    border-radius: 8px;
    justify-self: center;
    cursor: pointer;
    width: 65%;
    height: 42px;
    box-shadow: 7px 5px 8px 0px rgba(72,56,56,0.75);
-webkit-box-shadow: 7px 5px 8px 0px rgba(72,56,56,0.75);
-moz-box-shadow: 7px 5px 8px 0px rgba(72,56,56,0.75);
}

.list-item:hover{
    transform: scale(1.02);
}
.item-bought {
    background-color: grey;
    border: solid 2px rgb(72, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-decoration: line-through;
    height: 35px;
    width: 63%;
    justify-self: center ;
    
}

.hidden {
    display: none;
}

.delete-button {
    padding: 15px;
    background-color: rgb(72, 56, 56);
    border: 2px solid rgb(66, 133, 91);
    border-radius: 5px;
    color: rgb(210, 215, 159);
    box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 5px 7px 0px rgba(0,0,0,0.75);
    font-family: 'DynaPuff', cursive;
    cursor: pointer;

}

.delete-button:hover {
    transform: scale(1.1);
}
.button-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}



footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
